h1{
    color: white;
    padding: 1 0px;
    font-size: 70px;
    font:bolder;
    text-align: center;
}

.p1{
    color: white;
    padding: 5px;
    font-size:30px;
    text-align: center;
}

.p2{
    color: white;
    padding: 5px;
    font-size:30px;
    text-align: center;
}

body{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./images/1_5lyavS59mazOFnb55Z6znQ.webp);
}

.english{
    background: transparent;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav button{
    font-size: 12px;
    padding: 7px 20px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.logo{
    width: 150px;
    cursor: pointer;
}

button{
    background-color: red;
    margin:0;
    color:white;
    padding: 20px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.main input{
    flex: 0;
    border: 0;
    outline: 0;
    margin-left: 30px;
    padding: 20px 35px;
}

.main button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    padding: 20px 35px;
}






